body{
  margin:0;
  overflow:hidden
}

canvas {
  display: block;
}

#container {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
}

#sidebar {
  box-sizing: border-box;
  background: #050505;
  width: 250px;
-ms-flex: 0 100px;
-webkit-box-flex:  0;
-moz-box-flex:  0;
-ms-box-flex:  0;
box-flex:  0;  
border-right: 1px solid #252525;
}


#main {
 -ms-flex: 1;
 -webkit-box-flex: 1;
 -moz-box-flex: 1;
 -ms-box-flex: 1;
 box-flex: 1;  
}

.inputcontainer{
  width: 75%;
  margin: 0 auto;
  padding: 40 0 0 40;
}

.textInput{
  margin-top: 50px;
  width: 100%;
  border-radius: 0%;
  border: 1px solid #454545;
  background-color: #050505;
  color: #606060;
  padding-top: 5px;
  padding-bottom: 5px;
  text-indent: 5px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%; 
  height: 2px;
  margin-top: 50px; 
  background: #454545; 
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s; 
  transition: opacity .2s;
}

.slider:hover{
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 12px; 
  height: 17px; 
  background: #606060; 
  outline: none;
  cursor: pointer; 
  border-radius: 0%;
  border: none;
}

.slider::-moz-range-thumb {
  width: 12px; 
  height: 17px; 
  outline: none;
  background: #606060; 
  cursor: pointer; 
  border-radius: 0%;
  border: none;
}

input[type=range] {
  pointer-events: none;
  }
  
input[type=range]::-webkit-slider-thumb {
  pointer-events:auto;
}

input[type=range]::-moz-range-thumb {
  pointer-events:auto;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}