html, body{
  margin:0;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  background-color: var(--primary);
}


:root{
  --primary: #080808;
  --secondary: #dfdfdf;
  --border: #252525;
}

body::-webkit-scrollbar {
  display: none;
}

canvas {
  display: block;
}

label{
  font-family: 'Open Sans';
  color: var(--secondary);
  font-size: 13px;
  padding-top: 30px;
  padding-bottom: 5px;
  display: block;
}

#container {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
}

#sidebar {
  box-sizing: border-box;
  background: var(--primary);
  width: 310px;
  height: 100vh;
  -ms-flex: 0 100px;
  -webkit-box-flex:  0;
  -moz-box-flex:  0;
  -ms-box-flex:  0;
  box-flex:  0;  
  border-right: 1px solid var(--border);
  position: sticky;
  top: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--border);
}

#sidebar::-webkit-scrollbar {
  width: 5px;
}

#sidebar::-webkit-scrollbar-track {
  background: var(--border);
}

#sidebar::-webkit-scrollbar-thumb {
  background-color: var(--secondary);

}

#sidebar::-webkit-scrollbar-thumb:hover {
  -webkit-transition: .2s; 
  transition: opacity .2s;
}

#main {
 -ms-flex: 1;
 -webkit-box-flex: 1;
 -moz-box-flex: 1;
 -ms-box-flex: 1;
 box-flex: 1;
 width: 100%;
 height: 1800px;  
}

.inputcontainer{
  width: 75%;
  margin: 0 auto;
  padding: 40 0 0 40;
}

.textInput{
  margin-top: 50px;
  margin-bottom: 25px;
  width: 100%;
  border-radius: 0%;
  border: none;
  border-bottom: 1px solid var(--border);
  background: var(--primary);
  color: var(--secondary);
  padding-top: 5px;
  padding-bottom: 5px;
  text-indent: 5px;
  font-size: 14px;
} 
.textInput:focus{
  border-bottom: 1px solid var(--secondary);
}

a{
  text-decoration: none;
  color: var(--secondary);
}

a:hover{
  -webkit-transition: .2s; 
  transition: opacity .2s;
  text-decoration: underline dashed;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%; 
  height: 1px;
  background: var(--border); 
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s; 
  transition: opacity .2s;
}

.slider:hover{
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 12px; 
  height: 12px; 
  background: var(--primary);
  outline: none;
  cursor: pointer; 
  border-radius: 100%;
  box-sizing: border-box;
  border: 2px var(--secondary) solid;
}

.slider::-moz-range-thumb {
  width: 12px; 
  height: 12px; 
  background: var(--primary); 
  outline: none;
  cursor: pointer; 
  border-radius: 100%;
  box-sizing: border-box;
  border: 2px var(--secondary) solid;
}


.slider::-moz-range-progress {
  background-color: var(--secondary);
  height: 1px;

}

input[type=range] {
  pointer-events: none;
  }
  
input[type=range]::-webkit-slider-thumb {
  pointer-events:auto;
}

input[type=range]::-moz-range-thumb {
  pointer-events:auto;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.checkLbl{
  font-family: 'Open Sans';
  color: var(--secondary);
  font-size: 13px;
  display: inline-block;
  padding-left: 15px;
  vertical-align: 7px;
}

.checkOff{
  color: var(--secondary);
}

.butCtr{
  padding-top: 20px;
}

#export{
  font-family: 'Open Sans';
  color: var(--primary);
  font-size: 13px;
  background-color: var(--secondary);
  border: none;
  border-radius: 2px;
  padding: 7px;
}

#export:hover{
  opacity: 0.7;
  cursor: pointer;
}

#export:disabled{
  opacity: 0.3;
}

.theme{
  color: var(--secondary);
  padding-top: 70px;
  position: absolute;
  padding-bottom: 30px;
}

.theme:hover{
  cursor: pointer;
}

.themeCircle{
  -webkit-text-stroke: 1px var(--border);
  padding-top: 70px;
  position: absolute;
  padding-bottom: 30px;
}

.themeCircle:hover{
  cursor: pointer;
}

#desc{
  font-family: 'Open Sans';
  color: var(--secondary);
  font-size: 13px;
  position: absolute;
  padding-right: 40px;
  padding-bottom: 30px;
  padding-top: 30px;
}

#divider{
  display: block;
  height: 1px;
  width: 230px;
  border: 0;
  border-top: 3px dotted var(--border);
  /* position: absolute; */
  margin-top: 190px;
}

.nav{
  font-family: 'Open Sans';
  color: var(--secondary);
  font-size: 13px;
  position: absolute;
  padding-right: 40px;
}

.nav:hover{
  color: var(--border);
}

.text{
  display: block;
  font-family: 'Open Sans';
  color: var(--secondary);
  font-size: 13px;
  padding-left: 140px;
}

#title{
  text-decoration: underline dashed;
}
